<!DOCTYPE html>
<html>
<head>
  <title>Silicon Rally</title>
  <style type="text/css">



</style>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<!-- Some awesome methods you now can use:

   * user_signed_in? this checks to see if a user is signed_in
   * current_user this returns the user object for the user that is logged in.
   * user_session this returns a session object
 -->

  <div id="user_nav" class="own">
    <% if user_signed_in? %>
      <p id="app-title"><span class="glyphicon glyphicon-bullhorn"></span>    Welcome to Silicon Rally!</p>
      <p id="sub-title">The App Developers Network: Impart advice, collate valuable feedback.</p>
      <p id="loginout">Not <%= current_user.email %>?
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></p>
    <% else %>
      <button class="btn btn-info"><%= link_to "Sign up", new_user_registration_path %></button>
      <button class="btn btn-default"><%= link_to "sign in", new_user_session_path %></button>
    <% end %>
  </div>
  <div id="user-data" class="hidden"><username><%= current_user.name %></username><userid> <%= current_user.id %></userid></div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>


  <%= yield %>

</body>
</html>
