<!DOCTYPE html>
<html>
<head>
  <title>Devnet2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<!-- Some awesome methods you now can use:

   * user_signed_in? this checks to see if a user is signed_in
   * current_user this returns the user object for the user that is logged in.
   * user_session this returns a session object
 -->

  <div id="user_nav">
    <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
    <% end %>
  </div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>


  <%= yield %>

</body>
</html>
